{% extends 'base.html' %}
{% load static %}

{% block title %}
Меню
{% endblock %}

{% block content %}

<section class="page-header">
    <h2>Меню ресторана</h2>
</section>


<section class="menu-category">

    <h3>Напитки</h3>

    <div class="menu-list">

        <article class="menu-item">

            <div>
                <h4>Капучино</h4>
                <p>Свежемолотый кофе с молочной пенкой</p>
            </div>

            <span>220 ₽</span>

        </article>

        <article class="menu-item">

            <div>
                <h4>Латте</h4>
                <p>Кофе с увеличенным количеством молока</p>
            </div>

            <span>250 ₽</span>

        </article>

        <article class="menu-item">

            <div>
                <h4>Домашний лимонад</h4>
                <p>Цитрус, мята и газированная вода</p>
            </div>

            <span>280 ₽</span>

        </article>

    </div>

</section>


<section class="menu-category">

    <h3>Закуски</h3>

    <div class="menu-list">

        <article class="menu-item">

            <div>
                <h4>Брускетта с томатами</h4>
                <p>Поджаренный багет с томатами и базиликом</p>
            </div>

            <span>390 ₽</span>

        </article>

        <article class="menu-item">

            <div>
                <h4>Сырная тарелка</h4>
                <p>Ассорти из четырёх видов сыра</p>
            </div>

            <span>650 ₽</span>

        </article>

    </div>

</section>


<section class="menu-category">

    <h3>Основные блюда</h3>

    <div class="menu-list">

        <article class="menu-item">

            <div>
                <h4>Стейк из говядины</h4>
                <p>Подаётся с овощами гриль</p>
            </div>

            <span>1290 ₽</span>

        </article>

        <article class="menu-item">

            <div>
                <h4>Филе судака</h4>
                <p>С картофельным пюре и сливочным соусом</p>
            </div>

            <span>980 ₽</span>

        </article>

        <article class="menu-item">

            <div>
                <h4>Паста Карбонара</h4>
                <p>Классический итальянский рецепт</p>
            </div>

            <span>720 ₽</span>

        </article>

    </div>

</section>


<section class="menu-category">

    <h3>Десерты</h3>

    <div class="menu-list">

        <article class="menu-item">

            <div>
                <h4>Чизкейк Нью-Йорк</h4>
                <p>С ягодным соусом</p>
            </div>

            <span>390 ₽</span>

        </article>

        <article class="menu-item">

            <div>
                <h4>Тирамису</h4>
                <p>Нежный десерт с кофе и маскарпоне</p>
            </div>

            <span>450 ₽</span>

        </article>

    </div>

</section>

{% endblock %}