{% extends 'base.html' %}

{% block title %}
Акции
{% endblock %}

{% block content %}

<section class="page-header">
    <h2>Акции</h2>
</section>

<div class="promotion-list">

    <article class="promotion-card">

        <h3>Семейный ужин</h3>

        <p>
            Скидка 15% для компаний от 4 человек.
        </p>

    </article>

    <article class="promotion-card">

        <h3>День рождения</h3>

        <p>
            Скидка 20% в день рождения.
        </p>

    </article>

</div>

{% endblock %}